{% extends "index.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block content %}

    {% block detail-section %}
    
    <div class= "container pt-5">
            <h1 class="text-center">Employees Detail</h1>
        <br>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">Employee Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Designation</th>
                <th scope="col">Actions on Employee</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}

                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td> <a href="{% url 'employee_info' emp.pk %}">{{ emp.name}}</a></td>
                        <td>{{ emp.phone_no}}</td>
                        <td>{{ emp.designation}}</td>
                        <td><a href="{% url 'edit_employee' emp.pk %}" class="btn btn-success" style= "margin-right: 20px;">Update</a>
                        <a href="{% url 'employee_delete' emp.pk %}" class="btn btn-danger">Delete</a></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

        <br><br>

        <div style="display: flex; justify-content: right; align-items: right;">
            <a href="{% url 'add_employee' %}" class="btn btn-warning" style= "margin-right: 30px"> + Employee Details</a>
            

        </div>  
    </div>
    
    {% endblock  %}

{% endblock  %}